# Prediction of down-syndrome in mice

# Que 2 (a) (b)

In [ ]:
# Que 2 (a)(b) are importing and EDA on given data

In [3]:
#import important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score, confusion_matrix, r2_score

In [2]:
# read data with pd
df = pd.read_excel("Data_Cortex_Nuclear.xls")

In [3]:
df.head()

,MouseID,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,...,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,Genotype,Treatment,Behavior,class
0,309_1,0.503644,0.747193,0.430175,2.816329,5.990152,0.218830,0.177565,2.373744,0.232224,...,0.108336,0.427099,0.114783,0.131790,0.128186,1.675652,Control,Memantine,C/S,c-CS-m
1,309_2,0.514617,0.689064,0.411770,2.789514,5.685038,0.211636,0.172817,2.292150,0.226972,...,0.104315,0.441581,0.111974,0.135103,0.131119,1.743610,Control,Memantine,C/S,c-CS-m
2,309_3,0.509183,0.730247,0.418309,2.687201,5.622059,0.209011,0.175722,2.283337,0.230247,...,0.106219,0.435777,0.111883,0.133362,0.127431,1.926427,Control,Memantine,C/S,c-CS-m
3,309_4,0.442107,0.617076,0.358626,2.466947,4.979503,0.222886,0.176463,2.152301,0.207004,...,0.111262,0.391691,0.130405,0.147444,0.146901,1.700563,Control,Memantine,C/S,c-CS-m
4,309_5,0.434940,0.617430,0.358802,2.365785,4.718679,0.213106,0.173627,2.134014,0.192158,...,0.110694,0.434154,0.118481,0.140314,0.148380,1.839730,Control,Memantine,C/S,c-CS-m

In [4]:
df.shape

(1080, 82)

In [5]:
#remove last three columns
df = df.iloc[:,1:-3]
df.head()

,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,pELK_N,...,BAD_N,BCL2_N,pS6_N,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,Genotype
0,0.503644,0.747193,0.430175,2.816329,5.990152,0.218830,0.177565,2.373744,0.232224,1.750936,...,0.122652,NaN,0.106305,0.108336,0.427099,0.114783,0.131790,0.128186,1.675652,Control
1,0.514617,0.689064,0.411770,2.789514,5.685038,0.211636,0.172817,2.292150,0.226972,1.596377,...,0.116682,NaN,0.106592,0.104315,0.441581,0.111974,0.135103,0.131119,1.743610,Control
2,0.509183,0.730247,0.418309,2.687201,5.622059,0.209011,0.175722,2.283337,0.230247,1.561316,...,0.118508,NaN,0.108303,0.106219,0.435777,0.111883,0.133362,0.127431,1.926427,Control
3,0.442107,0.617076,0.358626,2.466947,4.979503,0.222886,0.176463,2.152301,0.207004,1.595086,...,0.132781,NaN,0.103184,0.111262,0.391691,0.130405,0.147444,0.146901,1.700563,Control
4,0.434940,0.617430,0.358802,2.365785,4.718679,0.213106,0.173627,2.134014,0.192158,1.504230,...,0.129954,NaN,0.104784,0.110694,0.434154,0.118481,0.140314,0.148380,1.839730,Control

In [6]:
#check datatypes
df.dtypes

DYRK1A_N     float64
ITSN1_N      float64
BDNF_N       float64
NR1_N        float64
NR2A_N       float64
              ...
H3AcK18_N    float64
EGR1_N       float64
H3MeK4_N     float64
CaNA_N       float64
Genotype      object
Length: 78, dtype: object

In [7]:
#seperate input data from df all columns except last and target data from df as last column
input_data = df.iloc[:,:-1]
target_colm = df.iloc[:,-1]

In [8]:
#check nulls
nulls = input_data.isna().sum()
nulls[nulls>0].sort_values(ascending=False)

BCL2_N        285
H3MeK4_N      270
BAD_N         213
EGR1_N        210
H3AcK18_N     180
pCFOS_N        75
ELK_N          18
Bcatenin_N     18
MEK_N           7
P38_N           3
TRKA_N          3
RSK_N           3
APP_N           3
SOD1_N          3
MTOR_N          3
AMPKA_N         3
pMTOR_N         3
DSCR1_N         3
GSK3B_N         3
NR2B_N          3
pNUMB_N         3
RAPTOR_N        3
TIAM1_N         3
pP70S6_N        3
JNK_N           3
DYRK1A_N        3
ITSN1_N         3
pJNK_N          3
BDNF_N          3
NR1_N           3
NR2A_N          3
pAKT_N          3
pBRAF_N         3
pCAMKII_N       3
pCREB_N         3
pELK_N          3
pERK_N          3
PKCA_N          3
CREB_N          3
pMEK_N          3
pNR1_N          3
pNR2A_N         3
pNR2B_N         3
pPKCAB_N        3
pRSK_N          3
AKT_N           3
BRAF_N          3
CAMKII_N        3
ERK_N           3
dtype: int64

In [9]:
#make list of columns with nulls greater than 100
nulls_list = nulls[nulls>100].sort_values(ascending=False).index.tolist()
len(nulls_list)

5

In [10]:
#remove columns with nulls greater than 100
input_data = input_data.drop(columns=nulls_list)

In [11]:
#check nulls after removing columns in previous step
nulls1 = input_data.isna().sum()

In [12]:
#make list of nulls
nulls1.index.tolist()

['DYRK1A_N',
 'ITSN1_N',
 'BDNF_N',
 'NR1_N',
 'NR2A_N',
 'pAKT_N',
 'pBRAF_N',
 'pCAMKII_N',
 'pCREB_N',
 'pELK_N',
 'pERK_N',
 'pJNK_N',
 'PKCA_N',
 'pMEK_N',
 'pNR1_N',
 'pNR2A_N',
 'pNR2B_N',
 'pPKCAB_N',
 'pRSK_N',
 'AKT_N',
 'BRAF_N',
 'CAMKII_N',
 'CREB_N',
 'ELK_N',
 'ERK_N',
 'GSK3B_N',
 'JNK_N',
 'MEK_N',
 'TRKA_N',
 'RSK_N',
 'APP_N',
 'Bcatenin_N',
 'SOD1_N',
 'MTOR_N',
 'P38_N',
 'pMTOR_N',
 'DSCR1_N',
 'AMPKA_N',
 'NR2B_N',
 'pNUMB_N',
 'RAPTOR_N',
 'TIAM1_N',
 'pP70S6_N',
 'NUMB_N',
 'P70S6_N',
 'pGSK3B_N',
 'pPKCG_N',
 'CDK5_N',
 'S6_N',
 'ADARB1_N',
 'AcetylH3K9_N',
 'RRP1_N',
 'BAX_N',
 'ARC_N',
 'ERBB4_N',
 'nNOS_N',
 'Tau_N',
 'GFAP_N',
 'GluR3_N',
 'GluR4_N',
 'IL1B_N',
 'P3525_N',
 'pCASP9_N',
 'PSD95_N',
 'SNCA_N',
 'Ubiquitin_N',
 'pGSK3B_Tyr216_N',
 'SHH_N',
 'pS6_N',
 'pCFOS_N',
 'SYP_N',
 'CaNA_N']

In [76]:
input_data

,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,pELK_N,...,pCASP9_N,PSD95_N,SNCA_N,Ubiquitin_N,pGSK3B_Tyr216_N,SHH_N,pS6_N,pCFOS_N,SYP_N,CaNA_N
0,0.503644,0.747193,0.430175,2.816329,5.990152,0.218830,0.177565,2.373744,0.232224,1.750936,...,1.603310,2.014875,0.108234,1.044979,0.831557,0.188852,0.106305,0.108336,0.427099,1.675652
1,0.514617,0.689064,0.411770,2.789514,5.685038,0.211636,0.172817,2.292150,0.226972,1.596377,...,1.671738,2.004605,0.109749,1.009883,0.849270,0.200404,0.106592,0.104315,0.441581,1.743610
2,0.509183,0.730247,0.418309,2.687201,5.622059,0.209011,0.175722,2.283337,0.230247,1.561316,...,1.663550,2.016831,0.108196,0.996848,0.846709,0.193685,0.108303,0.106219,0.435777,1.926427
3,0.442107,0.617076,0.358626,2.466947,4.979503,0.222886,0.176463,2.152301,0.207004,1.595086,...,1.484624,1.957233,0.119883,0.990225,0.833277,0.192112,0.103184,0.111262,0.391691,1.700563
4,0.434940,0.617430,0.358802,2.365785,4.718679,0.213106,0.173627,2.134014,0.192158,1.504230,...,1.534835,2.009109,0.119524,0.997775,0.878668,0.205604,0.104784,0.110694,0.434154,1.839730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,0.254860,0.463591,0.254860,2.092082,2.600035,0.211736,0.171262,2.483740,0.207317,1.057971,...,1.323554,2.578046,0.167181,1.261651,0.962942,0.275547,0.115806,0.183324,0.374088,1.364823
1076,0.272198,0.474163,0.251638,2.161390,2.801492,0.251274,0.182496,2.512737,0.216339,1.081150,...,1.275605,2.534347,0.169592,1.254872,0.983690,0.283207,0.113614,0.175674,0.375259,1.364478
1077,0.228700,0.395179,0.234118,1.733184,2.220852,0.220665,0.161435,1.989723,0.185164,0.884342,...,1.437534,2.544515,0.179692,1.242248,0.976609,0.290843,0.118948,0.158296,0.422121,1.430825
1078,0.221242,0.412894,0.243974,1.876347,2.384088,0.208897,0.173623,2.086028,0.192044,0.922595,...,1.498820,2.609769,0.185037,1.301071,0.989286,0.306701,0.125295,0.196296,0.397676,1.404031
1079,0.302626,0.461059,0.256564,2.092790,2.594348,0.251001,0.191811,2.361816,0.223632,1.064085,...,1.490077,2.526372,0.184516,1.267120,1.020383,0.292330,0.118899,0.187556,0.420347,1.370999

In [13]:
#calculate missing values using KNNimputer
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=4, weights="uniform")
input_data1 = imputer.fit_transform(input_data)

In [14]:
#make changes in input data after imputing
input_data = pd.DataFrame(input_data1, columns=input_data.columns)

In [15]:
#check for nulls
input_data.isna().sum()

DYRK1A_N    0
ITSN1_N     0
BDNF_N      0
NR1_N       0
NR2A_N      0
           ..
SHH_N       0
pS6_N       0
pCFOS_N     0
SYP_N       0
CaNA_N      0
Length: 72, dtype: int64

In [38]:
#nulls = input_data.isna().sum()
#nulls[nulls>0].sort_values(ascending=False)

Series([], dtype: int64)

In [76]:
#for column in nulls_list:
#    mode_value = input_data[column].mode()[0]
#    input_data.fillna(mode_value,inplace=True)
#input_data.isna().sum()

DYRK1A_N           0
ITSN1_N            0
BDNF_N             0
NR1_N              0
NR2A_N             0
                  ..
pGSK3B_Tyr216_N    0
SHH_N              0
pS6_N              0
SYP_N              0
CaNA_N             0
Length: 68, dtype: int64

In [16]:
#inspiration from statsmodel official documentation
#variance inflation factor all features which shows mulitcolinearity for each feature with respect to other features
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_data = pd.DataFrame()
vif_data["feature"] = input_data.columns
vif_data["VIF"] = [variance_inflation_factor(input_data.values, i) for i in range(len(input_data.columns))]
vif_data.sort_values(["VIF"],ascending=True)

C:\Users\ADMIN\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

         feature          VIF
50  AcetylH3K9_N    29.176979
32        SOD1_N    32.932709
59       GluR4_N    49.992984
9         pELK_N    51.091182
51        RRP1_N    59.802951
..           ...          ...
31    Bcatenin_N   957.989001
14        pNR1_N  1329.608144
3          NR1_N  1871.448194
53         ARC_N          inf
68         pS6_N          inf

[72 rows x 2 columns]

In [17]:
#remove highly collinear columns
input_data=input_data.drop(['ARC_N','pS6_N'], axis = 1)

In [18]:
vif_data = pd.DataFrame()
vif_data["feature"] = input_data.columns
vif_data["VIF"] = [variance_inflation_factor(input_data.values, i) for i in range(len(input_data.columns))]
vif_data.sort_values(["VIF"],ascending=True)

         feature          VIF
50  AcetylH3K9_N    29.089993
32        SOD1_N    32.911673
58       GluR4_N    49.893971
9         pELK_N    51.090068
51        RRP1_N    59.507664
..           ...          ...
16       pNR2B_N   871.004103
28        TRKA_N   871.491731
31    Bcatenin_N   955.218667
14        pNR1_N  1323.984319
3          NR1_N  1857.635291

[70 rows x 2 columns]

In [99]:
input_data=input_data.drop(['pNR1_N','NR1_N'], axis = 1)

In [100]:
vif_data = pd.DataFrame()
vif_data["feature"] = input_data.columns
vif_data["VIF"] = [variance_inflation_factor(input_data.values, i) for i in range(len(input_data.columns))]
vif_data.sort_values(["VIF"],ascending=True)

            feature         VIF
48     AcetylH3K9_N   28.726471
30           SOD1_N   32.879913
56          GluR4_N   49.314925
8            pELK_N   50.809623
49           RRP1_N   59.393963
..              ...         ...
63  pGSK3B_Tyr216_N  730.053233
14          pNR2B_N  750.745846
35          AMPKA_N  783.499787
26           TRKA_N  837.658031
29       Bcatenin_N  884.625927

[68 rows x 2 columns]

# Que 2 (c)

In [19]:
#shuffle input data  and target columns accordingly
input_data_shuffled = input_data.sample(frac=1, random_state=42) 
target_colm_shuffled = target_colm.sample(frac=1, random_state=42)

In [20]:
#split in train-validation and test sets
split_index = int(0.9 * len(input_data_shuffled))

trainer_set = input_data_shuffled[:split_index]
test_set = input_data_shuffled[split_index:]
trainer_colm = target_colm_shuffled[:split_index]
test_colm = target_colm_shuffled[split_index:]

In [21]:
target_colm_shuffled

423     Control
548     Control
731      Ts65Dn
588      Ts65Dn
1051     Ts65Dn
         ...
330     Control
466     Control
121     Control
1044     Ts65Dn
860      Ts65Dn
Name: Genotype, Length: 1080, dtype: object

In [22]:
#train-test split on train-validation data
X_train, X_test, y_train, y_test = train_test_split(trainer_set, trainer_colm, test_size = 0.2, random_state = 44)

### train test on random forest model

In [27]:
#run random forest model with n_estimator, max_depth as hyperparameter
n = [100,300,500,700]
m=[1,3,6,8]
accuracy_l = []

for i in n:
    for j in m:
        Rd_model = RandomForestClassifier(n_estimators=i, max_depth=j)
        Rd_model.fit(X_train, y_train)
        pred = Rd_model.predict(X_test)
        a = accuracy_score(y_test, pred)
        accuracy_l.append(a)
accuracy_l

[0.8256410256410256,
 0.9025641025641026,
 0.9487179487179487,
 0.9846153846153847,
 0.8102564102564103,
 0.9076923076923077,
 0.9538461538461539,
 0.9846153846153847,
 0.8102564102564103,
 0.9179487179487179,
 0.958974358974359,
 0.9897435897435898,
 0.8102564102564103,
 0.9179487179487179,
 0.9692307692307692,
 0.9846153846153847]

In [33]:
#make list of hyperparameters and corresponding accuracy
ls = []
for i in n:
    for j in m:
        ls.append([i,j])
        
d = {"[Number of Trees,max_depth]":ls,"Accuracy": accuracy_l}
df = pd.DataFrame(d)
print(df)

   [Number of Trees,max_depth]  Accuracy
0                     [100, 1]  0.825641
1                     [100, 3]  0.902564
2                     [100, 6]  0.948718
3                     [100, 8]  0.984615
4                     [300, 1]  0.810256
5                     [300, 3]  0.907692
6                     [300, 6]  0.953846
7                     [300, 8]  0.984615
8                     [500, 1]  0.810256
9                     [500, 3]  0.917949
10                    [500, 6]  0.958974
11                    [500, 8]  0.989744
12                    [700, 1]  0.810256
13                    [700, 3]  0.917949
14                    [700, 6]  0.969231
15                    [700, 8]  0.984615

In [37]:
max(accuracy_l)

0.9897435897435898

In [38]:
#make classifier for test data
classifier = RandomForestClassifier(n_estimators=500,max_depth=8)

In [39]:
#fit training data
classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=8, n_estimators=500)

In [40]:
#test on testing set
ytest_pred = classifier.predict(test_set)

In [41]:
#accuracy
a = accuracy_score(test_colm, ytest_pred)
a

0.9814814814814815

### train test on SVC

In [42]:
from sklearn.preprocessing import StandardScaler 

# Standardize features 
scaler = StandardScaler().fit(X_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [67]:
#support vector with rbf kernel training
from sklearn.svm import SVC 

Cs=[0.1, 1, 5]
gammas = [0.1, 1, 10]
accuracy_ls = []

for i in Cs:
    for j in gammas:
        model = SVC(kernel='rbf', C=i, gamma=j)  
        model.fit(X_train_scaled, y_train) 
        y_pred = model.predict(X_test_scaled) 
        accuracy = accuracy_score(y_test, y_pred) 
        accuracy_ls.append(accuracy)

In [68]:
#make list of parameter and corresponding accuracy
hyperpara = []
for i in Cs:
    for j in gammas:
        hyperpara.append([i,j])
        
d = {"[C,gamma]":hyperpara,"Accuracy": accuracy_ls}
df = pd.DataFrame(d)
print(df)

    [C,gamma]  Accuracy
0  [0.1, 0.1]  0.543590
1    [0.1, 1]  0.543590
2   [0.1, 10]  0.543590
3    [1, 0.1]  0.989744
4      [1, 1]  0.569231
5     [1, 10]  0.543590
6    [5, 0.1]  0.989744
7      [5, 1]  0.615385
8     [5, 10]  0.543590

# Que 2 (d)

In [69]:
#shuffle input data and target column
input_data_shuffled = input_data.sample(frac=1, random_state=42) 
target_colm_shuffled = target_colm.sample(frac=1, random_state=42)

In [70]:
#label encoding target data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
trainer_colm_trans= le.fit_transform(trainer_colm)

In [71]:
#feature extraction using RFECV
from sklearn.feature_selection import RFECV
from sklearn.svm import SVR

estimator = SVR(kernel='linear')
selector = RFECV(estimator, step=1, cv=5)
selector = selector.fit(trainer_set,trainer_colm_trans)
selects = list(selector.support_)

In [72]:
c=0
sum=0
ls = []
for i in selects:
    if (i == False):
        sum=sum+1
        ls.append(c)
    c = c+1
print("total True:",sum)

total True: 21

In [73]:
ls.remove(69)

In [74]:
#keep important features in input data
input_data_shuffled.drop(input_data_shuffled.columns[ls], axis=1, inplace=True)

In [75]:
#make train-validation and test data set
split_index = int(0.9 * len(input_data_shuffled))

trainer_set = input_data_shuffled[:split_index]
test_set = input_data_shuffled[split_index:]
trainer_colm = target_colm_shuffled[:split_index]
test_colm = target_colm_shuffled[split_index:]

In [77]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(trainer_set, trainer_colm, test_size = 0.2, random_state = 44)

### train test on random forest after applying feature extraction

In [83]:
#after keeping important features run random forest model
n = [100, 300, 600, 900]
m=[1,3,6,8]
accuracy_l = []

for i in n:
    for j in m:
        Rd_model = RandomForestClassifier(n_estimators=i, max_depth=j)
        Rd_model.fit(X_train, y_train)
        pred = Rd_model.predict(X_test)
        a = accuracy_score(y_test, pred)
        accuracy_l.append(a)
accuracy_l

[0.7794871794871795,
 0.9025641025641026,
 0.9743589743589743,
 0.9897435897435898,
 0.8,
 0.9076923076923077,
 0.958974358974359,
 0.9846153846153847,
 0.8307692307692308,
 0.9076923076923077,
 0.958974358974359,
 0.9897435897435898,
 0.8205128205128205,
 0.9179487179487179,
 0.9641025641025641,
 0.9846153846153847]

In [84]:
#make list of hyper parameters
ls = []
for i in n:
    for j in m:
        ls.append([i,j])
        
d = {"[Number of Trees,max_depth]":ls,"Accuracy": accuracy_l}
df = pd.DataFrame(d)
print(df)

   [Number of Trees,max_depth]  Accuracy
0                     [100, 1]  0.779487
1                     [100, 3]  0.902564
2                     [100, 6]  0.974359
3                     [100, 8]  0.989744
4                     [300, 1]  0.800000
5                     [300, 3]  0.907692
6                     [300, 6]  0.958974
7                     [300, 8]  0.984615
8                     [600, 1]  0.830769
9                     [600, 3]  0.907692
10                    [600, 6]  0.958974
11                    [600, 8]  0.989744
12                    [900, 1]  0.820513
13                    [900, 3]  0.917949
14                    [900, 6]  0.964103
15                    [900, 8]  0.984615

In [85]:
max(accuracy_l)

0.9897435897435898

In [86]:
#build model with best hyperparameters for test data
classifier = RandomForestClassifier(n_estimators=100, max_depth=8)
classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=8)

In [87]:
#check accuracy on test data
ytest_pred = classifier.predict(test_set)
a = accuracy_score(test_colm, ytest_pred)
a

0.9814814814814815

### train test on SVC after applying feature extraction

In [88]:
from sklearn.preprocessing import StandardScaler 

# Standardize features 
scaler = StandardScaler().fit(X_train) 
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [91]:

from sklearn.svm import SVC 

Cs=[0.1, 1, 10]
gammas = [0.01, 0.1, 1]
accuracy_ls = []

for i in Cs:
    for j in gammas:
        model = SVC(kernel='rbf', C=i, gamma=j)  
        model.fit(X_train_scaled, y_train) 
        y_pred = model.predict(X_test_scaled) 
        accuracy = accuracy_score(y_test, y_pred) 
        accuracy_ls.append(accuracy)

In [92]:
hyperpara = []
for i in Cs:
    for j in gammas:
        hyperpara.append([i,j])
        
d = {"[C,gamma]":hyperpara,"Accuracy": accuracy_ls}
df = pd.DataFrame(d)
print(df)

     [C,gamma]  Accuracy
0  [0.1, 0.01]  0.882051
1   [0.1, 0.1]  0.656410
2     [0.1, 1]  0.543590
3    [1, 0.01]  0.989744
4     [1, 0.1]  1.000000
5       [1, 1]  0.712821
6   [10, 0.01]  1.000000
7    [10, 0.1]  1.000000
8      [10, 1]  0.733333

In [102]:
model = SVC(kernel='rbf', C=1, gamma=0.01)  
model.fit(X_train_scaled, y_train)

tester_data = test_set
new_data_scaled = scaler.transform(tester_data)
predictions = model.predict(new_data_scaled)

In [103]:
accuracy = accuracy_score(test_colm, predictions) 
print('Accuracy:', accuracy)

Accuracy: 0.9814814814814815